fastapi
uvicorn[standard]
google-cloud-datastore
google-cloud-storage
Jinja2
markdown
python-multipart
Pydantic
Authlib
itsdangerous
httpx
google-auth-oauthlib
pydantic-settings
beautifulsoup4
Pygments
