<!-- right navigation panel -->
<nav class="main_column" id="right_column">
    <p>
    <a id="theblog" class="navigation_link big_link"
        href="/">the Blog</a><br/>
    <a id="bestof" class="navigation_link small_link"
        href="/bestof/">Best of</a><br/>
    <a id="blogarchive" class="navigation_link small_link"
        href="/archive/">Archive</a><br/>
    <a id="aboutblog" class="navigation_link small_link"
        href="/about">About</a>
    </p>

    {% block section %}
    <div id="section" title="#theblog"></div>
    {% endblock %}

</nav><!-- end right_column -->
