/* Social networks and RSS */

#social_networks {
  position: absolute;
  margin-top: 40px;
  left: 25px;
}

/* Styling for admin form */

#edit {
  width: 100%;
}

#edit td {
  width:100%;
}

#name {
  width: 100%;
}

#message {
  width: 100%;
  height: 400px;
}

#id_tags {
  width: 100%;
}

/* Post formatting. */

.post-info {
  text-align: center;
}

.date {
  font-size: 14pt;
  font-style: italic;
}

.post-format, .readmore {
  font-size: 13pt;
}

#hard_parts_info {
  text-align: center;
  font-size: 11pt;
  font-style: italic;
}

.hard, .hard_format {
  padding: 8px;
  background-color: #d0d0d0;
}

#prev_next {
  text-align: center;
}

.folded_hard_part { 
  cursor: hand;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 45px;
}

blockquote {
  padding: 4px;
  font-style: italic;
  background-image: url(http://blog.thegrandlocus.com/img/quote.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 2em;
}

blockquote div:first-child {
  display: block;
  background-image: url(http://blog.thegrandlocus.com/img/reversequote.png);
  background-position: bottom right;
  background-repeat: no-repeat;
} 
