body {
  background-color: white;
  margin: 0px;
}

a.silent_link {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 24pt;
  text-align: center;
  color: #f00;
}

.post-info {
  text-align: center;
}

.date {
  font-size: 14pt;
  font-style: italic;
}

#blog_name {
  /* font-family:ITCCenturyStdBookCondensed; */
  font-size: 36pt;
  font-weight: bold;
  color: #f00;
}

#slogan {
  /* font-family:ITCCenturyStdBkCnIt; */
  font-size: 18pt;
  font-style: italic;
}

#top_banner {
  position: fixed;
  background: white;
  top:0px;
  height: 73px;
  width:100%;
  min-width: 800px;
  padding-top: 18px;
  text-align: center;
  border-bottom: 2px solid red;
}

.main_column {
  padding-top: 80px;
  height: 100%;
  min-height: 1000px;
}

#left_column {
  float: left;
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

#right_column {
  float:right;
  width: 30%;
  background-color: #f00;
}
