html, body {
  font-family:Times, serif;
  color: #444;
  background-color: white;
  margin: 0px;
  font-size: 13pt;
}

h2 {
  font-size: 24pt;
  text-align: center;
  color: #f00;
}

h3 {
  color: black;
}

h4 {
  color: #f00;
}

.bf_separator {
  color: black;
  text-align: center;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ontheleft {
  float: left;
  margin-right: 20px;
}

a:link { color: #f00; text-decoration: none; }
a:visited { color: #f00; text-decoration: none; }
a:hover { text-decoration: underline; }

a.silent_link {
  text-decoration: none;
}

h2 a.silent_link {
  color: #f00;
  text-decoration: none;
}

a.grey_link { font-weight: bold; color: #777; }
a.grey_link:hover { color: #c00; text-decoration: none; }

a.dark_link:link { color: #f00; }
a.dark_link:hover { color: #c00; text-decoration: none; }

a.navigation_link {
  text-decoration: none;
  color: white;
}

a.big_link {
  font-size: 24pt;
  font-weight: bold;
}

a.small_link {
  font-size: 18pt;
}

#blog_name {
  /* font-family:ITCCenturyStdBookCondensed; */
  font-size: 36pt;
  font-weight: bold;
  color: #f00;
}

#slogan {
  /* font-family:ITCCenturyStdBkCnIt; */
  font-size: 18pt;
  font-style: italic;
  color: black;
}

#top_banner {
  position: fixed;
  z-index: 999;
  background: white;
  top: 0px;
  height: 73px;
  width:100%;
  min-width: 800px;
  padding-top: 18px;
  text-align: center;
  border-bottom: 2px solid #f00;
}

#left_column {
  /* tag: added */
  position: absolute;
  top: 91px;
  left: 0px;
  width: 70%;
  padding-left: 8%;
  padding-right: 10%;
}

#right_column {
  position: fixed;
  top: 91px;
  right: -1%;
  width: 15%;
  min-width: 200px;
  max-width: 250px;
  height: 100%;
  text-align: center;
  color: white;
  background-color: #f00;
}

#container {
  width: 74%;
  max-width: 600px;
  margin: auto;
}


#bottom_space {
  float: left;
  clear: both;
  height: 100px;
}

/* LaTeX */
.latex-inline img {
  vertical-align: middle;
  padding-bottom: 4px;
}

/* Tables */
th {
  color: black;
  font-weight: bold;
  font-size: 120%;
  background-color: #a8a8a8;
}

td {
  text-align: center;
}

/* Table highlight */
tr.odd {
  background-color: #d8d8d8;
}

tr.even {
  background-color: white;
}

tr.highlight {
  background-color: #b8b8b8;
}

/* Social networks and RSS */
#subscribe {
  position: fixed;
  top: 90px;
  left: 10px;
}

#subscribe h3 {
  margin-bottom: 8px;
}

#plusone {
  float: left;
  width: 75px;
}

#like {
  float: left;
  width: 75px;
}

#tweet {
  float: left;
  width: 93px;
}

/* Styling for admin tables */
#admin_posttable, #admin_imagetable {
  width: 100%;
}

/* Styling for post edit form */
#edit, #name, #id_tags {
  width: 100%;
}

#message {
  width: 100%;
  height: 400px;
}

#edit label {
  color: black;
  font-size: 120%;
  font-weight: bold;
}

/* List formatting */
#ul_archive {
  list-style-type: none;
  marign-left: 0em;
  padding-left: 0em;
  text-align: center;
}

#ul_archive ul {
  list-style-type: none;
  margin-top:0.5em;
  marign-left: 0em;
  padding-left: 0em;
  font-size: x-large;
}

/* Post formatting. */
#author, .post-info {
  text-align: center;
}

.date {
  font-size: 14pt;
  font-style: italic;
  color: black;
}

.year {
  font-size: xx-large;
  font-style: italic;
  color: black;
}

.post-format, .readmore {
  font-size: 13pt;
}

#hard_parts_info {
  text-align: center;
  font-size: 11pt;
  font-style: italic;
}

.hard, .hard_format {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -50px;
  margin-right: -50px;
  display: block;
  padding: 16px;
  background-color: #ddd;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  box-shadow: 8px 8px 15px #777;
}

.hard_format:before,
.hard_format:after {
  content:"";
  position:absolute;
  z-index:-2;
}


#prev_next {
  text-align: center;
}

.folded_hard_part { 
  cursor: hand;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 45px;
}

blockquote {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  color: #380000;
  font-style: italic;
  background-image: url(http://blog.thegrandlocus.com/static/images/quote.png);
  background-position: left 8px;
  background-repeat: no-repeat;
}

pre {
  overflow-x: auto;
}

code {
  color: black;
  font-size: 11pt;
  background-color: #f0f0f0;
}

/* prettyprint */
div.highlight{
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size:11pt;
  background-color:#f0f0f0;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
}

span.s, span.kc{
  color: #c00;
}

span.kn{
  font-weight: bold;
  color: #c00;
}

span.k, span.kr{
  font-weight: bold;
}

span.c, span.c1{
  color: #a0a0a0;
}
