{% extends "admin/base.html" %}
{% block title %}{% if form.instance %}Edit{% else %}New{% endif %} Post{% endblock %}

{% block admin_head %}
    <script src="/thegrandlocus_theme/static/js/showdown.js"
        type="text/javascript"></script>
    <script src="/thegrandlocus_theme/static/js/mdpreview.js"
        type="text/javascript"></script>
{% endblock %}

{% block body %}
  <br/>
  <br/>
  <h2>{% if form.instance %}Edit{% else %}New{% endif %} Post</h2>
  <form id="edit" method="post" action="">
    <table>
      {{form}}
    </table>
    <br/>
    <h3>Editing tips:</h3>
    <ul>
      <li>Replace <code>class="ontheleft"</code> by <code>style="float:left; margin-right:20px;"</code></li>
    </ul>
    <h2 id="preview_title"></h2>
    <div id="preview"></div>
    <input type="submit" value="Submit post" />
  </form>
{% endblock %}
