{% extends "admin/base.html" %}
{% block title %}Post published{% endblock %}
{% block body %}
  <br/>
  <br/>
  {% if post.published %}
    {% if draft %}
      <h2>Your changes have been saved (but not published).</h2>
      <p style="text-align:center;"><a href="{{config.url_prefix}}/admin/post/preview/{{post.key.id}}">View
        your post</a>.</p>
    {% else %}
      <h2>Your post has been published!</h2>
      <p style="text-align:center;"><a href="{{config.url_prefix}}{{post.path}}">View your post</a>.</p>
    {% endif %}
  {% else %}
    <h2>Your draft post has been saved.</h2>
    <p style="text-align:center;"><a href="{{config.url_prefix}}/admin/post/preview/{{post.key.id}}">View
        your post</a>.</p>
  {% endif %}
{% endblock %}
