{% extends "blog.html" %}
{% block title %}About | The Grand Locus{% endblock %}
{% block body %}
<br/>
<br/>
<h2>About the blog</h2>
<p>I post what is on my mind, the ideas I like to play with and that I
like to share. I intend my blog to be recreational, and not academic nor
educational. I do not argue, I do not teach, but I still care a lot for
the content and I wish you will find some of the posts inspiring
for your own reflection. Actually, this is my only ambition for this blog.
</p>

<p>
For the sake of readability, I try to put the technical parts out of
the way. A message says when a blog post contains a technical section.
If you like challenges, or you want to go deeper, you can click on the
<a href="http://en.wikipedia.org/wiki/Penrose_triangle">Penrose
triangles</a> to show them.</p>

<p>
Whatever you think about The Grand Locus, or about a particular post,
I'd be happy to
<script type="text/javascript">print_mail('know it')</script>.
</p>

<h2>Acknowledgements</h2>
<p>
The design of The Grand Locus is the work of
Brit Pavelson. I asked her to do
something old-fashioned and never seen for a scientific website.
She mixed in her very strong personal style and came up with this.
First I found it too aggressive, but eventually I recognized the balance
and the simplicity of the graphics. I started developing the app with
a design in the line of her prototype and I am quite happy the way it
came out.
</p>

<p>
Behind the scene, The Grand Locus is a
<a href="http://python.org">Python</a> app powered by
<a href="http://code.google.com/appengine">Google App Engine</a>. I put
the code of the blog on
<a href="https://github.com/gui11aume/thegrandlocus">Github</a>
where you can download or fork it. The code is itself a fork of
<a href="https://github.com/Arachnid/bloggart">Bloggart</a>,
an app written by <a href="http://blog.notdot.net">Nick Johson</a>. I
have never met you Nick, but if you ever read this, here is a big 
thank word for you. I probably learned more Python from you than from
anyone else, I owe you big time.
</p>

<p>
Google App Engine is a cloud service from Google. The nicest thing
about it is that you do not have to pay for it, but for some reason
it is a bit
<a href="http://www-cs-students.stanford.edu/~silver/gae.html">buggy
and slow at times</a>. It even happens that the server
is down, which means that you might experience some slowness or
difficulties with connecting to The Grand Locus. For now problems
seem to be the exception more than the rule. Please
<script type="text/javascript">print_mail('let me know')</script>
if you experience recurrent problems.
</p>

<p>
For handling scientific content, I took a lot of inspiration from
<a href="http://stackexchange.com/">Stack Exchange</a>, where I am
active mostly on
<a href="http://stats.stackexchange.com/">Cross-Validated</a>. The
occasional LaTeX math formulas are handled by
<a href="http://www.mathjax.org"/>mathjax</a> and the syntax highlighting
in the code uses
<a href="http://code.google.com/p/google-code-prettify/">Google
Code Prettify</a>.
</p>

<p>
I am also using the
<a href="http://softwaremaniacs.org/playground/showdown-highlight/">Showdown</a>
<a href="http://craigsworks.com/projects/qtip2/">qTip2</a> and of course
the <a href="http://jquery.com/">jQuery</a> Javascript libraries.
</p>

<p>
Where is the FaceBook "I like" button? Well, it is just not there
because <a href="http://www.facebooksucks.org/">Facebook sucks</a>.
You still have the
<a href="https://plus.google.com/">Google +1</a> button if you want
to share posts with your friends. Nick Johnson also wrote
support for <a href="http://en.wikipedia.org/wiki/RSS">RSS feeds</a>,
which is geat if you use an RSS reader. The link to the RSS feeds is on
the top left of the main page. The only thing in that case is
that the math formula won't appear nice in your reader.
</p>

{% endblock %}
{% block section %}
<div id="section" title="#aboutblog"></div>
{% endblock %}
