{% extends "base.html" %}
{% block title %}Archive | The Grand Locus{% endblock %}
{% block body %}
<br/>
<br/>
<h2>Blog Archive</h2>

<ul>
	{% for months in date_struct %}
	<li>
		{% for date in months %}
		{% if forloop.first %}{{date|date:"Y"}}<ul>{% endif %}
		<li><a href="{{config.url_prefix}}/archive/{{date|date:"Y/m"}}/">{{date|date:"F"}}</a></li>
		{% endfor  %}
	</ul></li>
	{% endfor %}
</ul>
{% endblock %}
{% block section %}<div id="section" title="#blogarchive"></div>
{% endblock %}
