<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>{% block title %}The Grand Locus{% endblock %}</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/prettify.js"></script>
    <script type="text/javascript" src="/js/locus.js"></script>

    <link rel="stylesheet" type="text/css" media="screen"
	  href="/static/{{config.theme}}/css/screen.css" />

    <link rel="alternate" type="application/atom+xml" href="/feeds/atom.xml" />

    <link rel="stylesheet" type="text/css"
	  href="/static/{{config.theme}}/css/prettify.css" />

    <script>$(document).ready(reformat)</script>

    {% block head %}{% endblock %}
  </head>

  <body>

    <a class="silent_link" href="/">
    <div id="top_banner">
      <span id="blog_name">{{config.blog_name}}</span>
      <span id="slogan">/ {{config.slogan}}</span>
    </div></a>

    <div id="outer">
      <ul>{% block menu %}{% endblock %}</ul>
      <div class="main_column" id="left_column">
        {% block body %}{% endblock %}
      </div>
      <div class="main_column" id="right_column">
        <div id="menu">
        <p>
          <span style="font-size:24pt; font-weight:bold;"><a id="thelab" class="menu_link" href="http://lab.thegrandlocus.com/">the Lab</a></span><br/>
        </p>
        <hr align="right" style="border:0px; background-color:white; width:90%; height:1px;">
        <a id="theteam" class="menu_link" href="http://lab.thegrandlocus.com/">The team</a><br/>
        <a id="researchlines" class="menu_link" href="http://lab.thegrandlocus.com/">Research lines</a><br/>
        <a id="protocols" class="menu_link" href="http://lab.thegrandlocus.com/">Protocols</a><br/>
        <a id="contact" class="menu_link" href="http://lab.thegrandlocus.com/">Contact</a><br/>
        <a id="workwithus" class="menu_link" href="http://lab.thegrandlocus.com/">Work with us</a><br/>

        <p>
          <span style="font-size:24pt; font-weight:bold;"><a id="theblog" class="menu_link" href="http://blog.thegrandlocus.com/">the Blog</a></span><br/>
        </p>
        <hr align="right" style="border:0px; background-color:white; width:90%; height:1px;">
        <a id="aboutblog" class="menu_link" href="http://blog.thegrandlocus.com/">About</a>

        <p>
          <span style="font-size:24pt; font-weight:bold;"><a id="journalclub" class="menu_link" href="http://openjournalclub.thegrandlocus.com/">Journal
            Club</a></span><br/>
        </p>
        <hr align="right" style="border:0px; background-color:white; width:90%; height:1px;">
        <a id="latesttopic" class="menu_link" href="http://openjournalclub.thegrandlocus.com/">Latest topic</a><br/>
        <a id="aboutjournalclub" class="menu_link" href="http://openjournalclub.thegrandlocus.com/">About</a>
        </div> <!-- end menu div -->
      </div><!-- end right_column -->
      <div id="bottom_space"></div>
    </div><!-- end outer -->

  </body>

</html>
