{% extends "base.html" %}
{% block title %}{{config.blog_name}}{% endblock %}
{% block body %}
  <p style="text-align:center">
    <span style="font-size:48pt">&#8226;</span><br/>
    <span style="font-size:24pt">the Blog<br/></span>
    <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
  </p>
  <br/>
  <br/>
  {% for post in posts %}
    <h2><a class="silent_link" href="{{config.url_prefix}}{{post.path}}">{{post.title|escape}}</a></h2>
    <p class="post-info">
      <span class="date">&#8226; {{post.published_tz|date:config.date_format}} &#8226;</span>
    <p/>
    <br/>
    <span class="post-format">{{post.summary|safe}}</span>
    <span class="postmeta">
      {% if config.disqus_forum %}
        <a href="{{config.url_prefix}}{{post.path}}#disqus_thread" class="readmore">Comments</a> |
      {% endif %}
    </span>
    <br/>
  {% endfor %}
  {% if prev_page %}
    <a id="prev" href="{{config.url_prefix}}{{prev_page}}">Newer</a>
  {% endif %}
  {% if next_page %}
    <a id="next" href="{{config.url_prefix}}{{next_page}}">Older</a>
  {% endif %}
  {% if config.disqus_forum %}
    <script type="text/javascript">
    //<![CDATA[
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/{{config.disqus_forum}}/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
    </script>
  {% endif %}
{% endblock %}
