{% extends "base.html" %}

{% block description %}
    <meta name="robots" content="noarchive">
    <meta name="description"
        content="About Guillaume Filion and The Grand Locus" />
    <meta name="google-site-verification" content="WSYOkQj9p1xQC75jyd5iFQLtd8Q1X-EpoH56yBup9vc" /> <!-- pragma: allowlist secret -->
{% endblock %}

{% block title %}About | The Grand Locus{% endblock %}

{% block body %}
<br/>
<br/>
<h2>About me</h2>
<p>
<img src="/static/images/me.jpg" title="Yep, that's me!" style="float:left; margin-left:-30px; margin-top:-20px; margin-right:20px; margin-bottom:20px;">
I am a scientist who loves biology and mathematics. As of late I also
got into computers and the Internet.</p>

<p>It all started when I first heard of Darwin and the Theory of Evolution.
I got fascinated by the idea that our parents, grand parents, and a
bunch of people that we will never meet survive a little bit in each
one of us, or at least in our DNA. From that moment I wanted to understand
the message etched by our ancestors in every single cell of our body,
and quite naturally I ended up studying DNA.</p>

<p>I started this blog because I love writing and sharing what I know.
I try to keep it diverse, in the limit of my own interests so my research
is only a small fraction of it.</p>

<h2>About the blog</h2>

<p><img src="/static/images/chili.png" style="float:left; margin-right:15px;"/>
A <em>pimiento</em> next to the title of the post means that the article
is about statistics or that it involve some mathematics. I try to make the
content accessible for everybody, but most likely, you will need to spend some
time on the hardest sections if you want to understand them in full.
The articles with two <em>pimientos</em> will be of interest for those who
want a deep technical understanding.</p>

<p>For the sake of readability, I try to put the technical parts out of
the way. A message says when a blog post contains a technical section.
If you like challenges, or you want to go deeper, you can click on the
<a href="http://en.wikipedia.org/wiki/Penrose_triangle">Penrose
triangles</a> to show them.</p>

<h2>Acknowledgements</h2>
<p>
The design of The Grand Locus is the work of Brit Pavelson. I asked her to
do something old-fashioned and never seen for a scientific website. She
mixed in her very strong personal style and came up with this. First I found
it too aggressive, but eventually I recognized the balance and the
simplicity of the graphics so I started developing the app with a design in
the line of her prototype.
</p>

{% endblock %}
{% block section %}
<div id="section" title="#aboutblog"></div>
{% endblock %}
