{% extends "base.html" %}

{% block title %}Blog archive | The Grand Locus{% endblock %}

{% block body %}
<br/>
<br/>
<h2>Blog archive</h2>

<ul id="ul_archive">
	{% for months in date_struct %}
	<li class="li_year">
		{% for date in months %}
		{% if forloop.first %}<span class="year">• {{date|date:"Y"}} •</span><ul>{% endif %}
		<li class="li_month"><a href="{{config.url_prefix}}/archive/{{date|date:"Y/m"}}/">{{date|date:"F"}}</a></li>
		{% endfor  %}
	</ul></li>
	{% endfor %}
</ul>
{% endblock %}

{% block section %}<div id="section" title="#blogarchive"></div>
{% endblock %}
