{% extends "base.html" %}

{% block title %}Blog archive | The Grand Locus{% endblock %}

{% block body %}

  <p class="bf_separator">
    <span style="font-size:48pt">&#8226;</span><br/>
    <span style="font-size:24pt">Blog Archive<br/></span>
    <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
  </p>
  <br />

<ul id="ul_archive">
  {% for posts_of_the_year in by_year %}
  {% for post in posts_of_the_year %}
		{% if loop.first %}<li class="year">• {{post.published.strftime('%Y')}} •</li>{% endif %}
  <li><a href="{{config.url_prefix}}{{post.path}}" class="archive_link">{{post.title}}</a><br/><span class="tags">{{ post.tags|join(', ')|e}}</span></li>
  {% endfor %}
  {% endfor %}
</ul>
{% endblock %}

{% block section %}<div id="section" title="#blogarchive"></div>
{% endblock %}
