<!DOCTYPE html>
<html lang="en">
  <head>
    {# Basic metadata #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noarchive">

    {# Block for the page description meta tag #}
    {% block description %}
    <meta name="description"
      content="Guillaume Filion's blog | The Grand Locus - Life for Statistical Sciences" />
    {% endblock %}

    {# Block for the page title #}
    <title>{% block title %}The Grand Locus{% endblock %}</title>

    {# Common JavaScript libraries #}
    <!-- jQuery and locus-wide js -->
    <script type="text/javascript"
        src="/static/js/jquery.min.js"></script>
    <script type="text/javascript"
        src="/static/js/locus.js"></script>

    <!-- locus-wide css -->
    <link rel="stylesheet" type="text/css" media="screen"
        href="/static/css/screen.css" />
    <link rel="stylesheet" type="text/css" media="screen"
        href="/static/css/pygments.css" />

    {# Block for extra head content, like custom CSS or JS #}
    <!-- extra css and others -->
    {% block head %}
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$(', ')$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          processEscapes: true,
          tags: 'ams'
        },
        chtml: {
          fontURL: 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2'
        }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    {% endblock %}

    {# Block for admin-specific head content #}
    {% block admin_head %}
    {% endblock %}

    {# Common JavaScript for theme formatting #}
    <!-- locus-wide js formatting -->
    <script type="text/javascript">
      $(document).ready(format_theme_style);
    </script>

    {# Block for Google Analytics script #}
    {% block google_analytics %}
    {# Google site verification for the blog (to prove ownership). #}
    <meta name="google-site-verification" content="WSYOkQj9p1xQC75jyd5iFQLtd8Q1X-EpoH56yBup9vc" /> <!-- pragma: allowlist secret -->
    {# Google analytics for the blog. #}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33456727-1']);
      _gaq.push(['_setDomainName', 'thegrandlocus.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endblock %}
  </head>

  <body {% block body_tags%}{% endblock %}>

    {# Include the site header #}
    {% include "partials/_header.html" %}

    {# Main content area #}
    <main id="left_column" class="main_column">
        <div id="container">
          {# Block for the main page content #}
          {% block body %}{% endblock %}
        </div>
        <div id="bottom_space">
        </div>
        {# Include the site footer #}
        <footer>
    {% block copyright %}{% endblock %}
</footer>
    </main>

    {# Include the site navigation #}
    {% include "partials/_navigation.html" %}
  </body>
</html>
