{% extends "base.html" %}

{% block title %}Blog archive | The Grand Locus{% endblock %}

{% block body %}

<p class="bf_separator">
  <span style="font-size:48pt">&#8226;</span><br/>
  <span style="font-size:24pt">Best of<br/></span>
  <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
</p>

<br/>

<ul id="ul_archive">
  <li><a href="/2014/10/a-flurry-of-copycats-on-pubmed" class="archive_link">#1 A flurry of copycats on PubMed</a><br/><span class="tags">How a single statistical aberration led me to discover an industry of ghostwriting</span></li>
  <li><a href="/2016/04/did-mendel-fake-his-results" class="archive_link">#2 Did Mendel fake his results?</a><br/><span class="tags">A review of the arguments of Fisher against the experimental results of Gregor Mendel</span></li>
  <li><a href="/2015/01/if-cars-were-made-by-bioinformaticians" class="archive_link">#3 If cars were made by bioinformaticians...</a><br/><span class="tags">A humoristic pamphlet on making things more complicated than they should in bioinformatics</span></li>
  <li><a href="/2018/02/the-curse-of-large-numbers-big-data-considered-harmful" class="archive_link">#4 The curse of large numbers (Big Data considered harmful)</a><br/><span class="tags">Why p-values are no longer appropriate in a world where sample sizes are large</span></li>
</ul>

<br/>

<p class="bf_separator">
  <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
</p>

<p class="bf_separator">
  <span style="font-size:48pt">&#8226;</span>
</p>

{% endblock %}

{% block section %}<div id="section" title="#bestof"></div>
{% endblock %}
