{% extends "base.html" %}

{% block title %}Blog archive | The Grand Locus{% endblock %}

{% block body %}

<p class="bf_separator">
  <span style="font-size:48pt">&#8226;</span><br/>
  <span style="font-size:24pt">Best of<br/></span>
  <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
</p>

<br/>

<ul id="ul_archive">
  <li><a href="/2014/10/a-flurry-of-copycats-on-pubmed" class="archive_link">A flurry of copycats on PubMed</a><br/><span class="tags">How a single statistical aberration led me to discover an industry of ghostwriting</span></li>
  <li><a href="/2016/04/did-mendel-fake-his-results" class="archive_link">Did Mendel fake his results?</a><br/><span class="tags">A review of the arguments of Fisher against the experimental results of Gregor Mendel</span></li>
  <li><a href="/2015/01/if-cars-were-made-by-bioinformaticians" class="archive_link">If cars were made by bioinformaticians...</a><br/><span class="tags">A humoristic pamphlet on making things more complicated than they should in bioinformatics</span></li>
  <li><a href="2020/01/scientific-models" class="archive_link">Scientific models</a><br/><span class="tags">A discussion of what makes a model scientific</span></li>
</ul>

{% endblock %}

{% block section %}<div id="section" title="#bestof"></div>
{% endblock %}
