{% extends "base.html" %}

{% block title %}Blog archive | The Grand Locus{% endblock %}

{% block body %}

  <p class="bf_separator">
    <span style="font-size:48pt">&#8226;</span><br/>
    <span style="font-size:24pt">Best of<br/></span>
    <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
  </p>
  <br />

<ul id="ul_archive">
		{#<li class="year">• 2014 •</li>#}
  <li><a href="/2014/10/a-flurry-of-copycats-on-pubmed" class="archive_link">#1 A flurry of copycats on PubMed</a><br/><span class="tags">PubMed, journals, information retrieval</span></li>
  <li><a href="/2013/06/how-to-stop-sucking-and-be-awesome-instead" class="archive_link">#2 How to stop sucking and be awesome instead</a><br/><span class="tags">motivation, PhD</span></li>
  <li><a href="/2012/07/The-geometry-of-style" class="archive_link">#3 The geometry of style</a><br/><span class="tags">planktonrules, co-inertia analysis, information retrieval, IMDB, principal component analysis, series: IMDB reviews</span></li>
  <li><a href="/2012/05/Did-Sweden-cheat-for-Eurovision" class="archive_link">#4 Did Sweden cheat at Eurovision?</a><br/><span class="tags">Twitter, Eurovision, information retrieval</span></li>
  <li><a href="/2012/03/What-s-in-a-title" class="archive_link">#5 What’s in a title?</a><br/><span class="tags">PubMed, journals, information retrieval</span></li>
</ul>
{% endblock %}

{% block section %}<div id="section" title="#bestof"></div>
{% endblock %}
