{% extends "base.html" %}
{% import "jinjamacros.html" as macros %}

{# Overrides the default page description with a more generic one for listings. #}
{% block description %}
    <meta name="description"
        content="Guillaume Filion's blog | The Grand Locus - Life for Statistical Sciences" />
{% endblock %}

{% block body %}
  {# Page header for the blog section #}
  <p class="bf_separator">
    <span style="font-size:48pt">&#8226;</span><br/>
    <span style="font-size:24pt">the Blog<br/></span>
  </p>
  <div style="background-color:#777; height:1px; width:60%; margin-left:auto; margin-right:auto;"></div>

  {# Loop through each post and display a summary. #}
  {% for post in posts %}
  <div id="post_summary_div">
  <h2><a class="dark_link" href="{{settings.url_prefix}}{{post.path}}">{{post.title|e}}</a> {% for i in range(post.difficulty) %}<img src="/static/images/chili.png" style="vertical-align:middle;" title="Post difficulty">{% endfor %}</h2>

  <p class="post-info">
    {# Display author and tags for the post. #}
  <span itemscope itemtype="http://data-vocabulary.org/Person">
  By <a class="url fn n grey_link"><span
  itemprop="name">Guillaume Filion</span></a></span>, filed under
  {% for tag in post.tag_pairs %}{{
      macros.filed_under(tag)
  }}{% if not loop.last %},
  {% else %}.{% endif %}{% endfor %}
  <br/ >
  <br/ >
  {# Display the publication date. #}
  <span class="date">&#8226; {{post.published_tz.strftime(settings.date_format)}} &#8226;</span>
  </p>

  {# Display a short summary of the post. #}
  <span class="post-format">{{post.summary|safe}}</span>
  <br />

  {# Links to the full post and comments. #}
  <div class="postmeta">
  <a class="grey_link" href="{{settings.url_prefix}}{{post.path}}">Read more &raquo;</a> |
  <a class="grey_link" href="{{settings.url_prefix}}{{post.path}}#disqus_thread">Comments</a>
  </div>
  </div><!-- post_summary_div -->

  <br />
  <br />
  <br />
  <br />

  {% endfor %}

  {# Pagination links to navigate between older and newer posts. #}
  <div>
  <p id="prev_next">
  {% if prev_page %}
    &laquo; <a id="prev" href="{{settings.url_prefix}}{{prev_page}}">Newer</a>
  {% endif %}
  {% if prev_page and next_page %} | {% endif %}
  {% if next_page %}
    <a id="next" href="{{settings.url_prefix}}{{next_page}}">Older</a> &raquo;
  {% endif %}
  </p>
  </div>

  {# Disqus script for displaying comment counts. #}
  <script type="text/javascript">
  //<![CDATA[
  (function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
      query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/thegrandlocus/get_num_replies.js' + query + '"></' + 'script>');
  })();
  //]]>
  </script>
{% endblock %}

{# Defines the copyright notice in the footer. #}
{% block copyright %}
<div id="copyright">&copy; Guillaume Filion {{copyright_year}}, all rights reserved.</div>
{% endblock %}
