{% extends "base.html" %}
{% import "jinjamacros.html" as macros %}

{# Overrides the default page description with a more generic one for listings. #}
{% block description %}
    <meta name="description"
        content="Guillaume Filion's blog | The Grand Locus - Life for Statistical Sciences" />
{% endblock %}

{% block body %}
<main>
  {# Page header for the blog section #}
  <header class="page-header">
    <p class="bf_separator">
      <span style="font-size:48pt">&#8226;</span><br/>
      <span style="font-size:24pt">the Blog</span>
    </p>
  </header>
  <hr class="separator" />

  {# Loop through each post and display a summary. #}
  {% for post in posts %}
  <article class="post-summary">
    <h2><a class="dark_link" href="{{settings.url_prefix}}{{post.path}}">{{post.title|e}}</a> {% for i in range(post.difficulty) %}<img src="/static/images/chili.png" title="Post difficulty" style="vertical-align:middle;">{% endfor %}</h2>

    <div class="post-info">
      {# Display author and tags for the post. #}
      <p class="post-tags">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          By <a class="url fn n grey_link"
          href="https://github.com/gui11aume?rel=author"><span
          itemprop="name">Guillaume Filion</span></a></span>, filed under
        {% for tag in post.tag_pairs %}
          {{ macros.filed_under(tag) }}{% if not loop.last %},{% else %}.{% endif %}
        {% endfor %}
      </p>
      {# Display the publication date. #}
      <p class="date">&#8226; {{post.published_tz.strftime(settings.date_format)}} &#8226;</p>
    </div>

    {# Display a short summary of the post. #}
    <div class="post-format">{{post.summary|safe}}</div>

    {# Links to the full post and comments. #}
    <footer class="postmeta">
      <a class="grey_link" href="{{settings.url_prefix}}{{post.path}}">Read more &raquo;</a> |
      <a class="grey_link" href="{{settings.url_prefix}}{{post.path}}#disqus_thread">Comments</a>
    </footer>
  </article><!-- .post-summary -->
  {% endfor %}

  {# Pagination links to navigate between older and newer posts. #}
  <nav aria-label="Blog pagination">
    <p id="prev_next">
    {% if prev_page %}
      &laquo; <a id="prev" href="{{settings.url_prefix}}{{prev_page}}">Newer</a>
    {% endif %}
    {% if prev_page and next_page %} | {% endif %}
    {% if next_page %}
      <a id="next" href="{{settings.url_prefix}}{{next_page}}">Older</a> &raquo;
    {% endif %}
    </p>
  </nav>

  {# Disqus script for displaying comment counts. #}
  <script id="dsq-count-scr" src="//thegrandlocus.disqus.com/count.js" async></script>
</main>
{% endblock %}

{# Defines the copyright notice in the footer. #}
{% block copyright %}
<div id="copyright">&copy; Guillaume Filion {{copyright_year}}, all rights reserved.</div>
{% endblock %}
