{% extends "post-preview.html" %}
{% import "jinjamacros.html" as macros %}

{% block reader_panel %}

  {# Previous/Next #}
  <p id="prev_next">
  {% if prev %}
    &laquo; <a id="prev" href="{{prev.path}}">Previous Post</a>
  {% endif %}
  {% if prev and next %} | {% endif %}
  {% if next %}
    <a id="next" href="{{next.path}}">Next Post</a> &raquo;
  {% endif %}
  </p>

  <br />
  <br />

  <div id="disqus_thread"></div>
  <script type="text/javascript">
  var disqus_shortname = 'thegrandlocus';
  var disqus_identifier = '{{path}}';
  var disqus_title = '{{post.title|e}}';
  var disqus_url = 'http://{{config.host}}{{path}}';

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

  </script>
  <noscript><a href="http://disqus.com/forums/thegrandlocus/?url=ref">View the discussion thread.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}

{% block copyright %}
<div id="copyright">&copy; Guillaume Filion {{copyright_year}}, all rights reserved.</div>
{% endblock %}
