{% extends "base.html" %}
{% import "jinjamacros.html" as macros %}

{% block title %}{{post.title|e}} | The Grand Locus{% endblock %}

{% block description %}
    <meta name="description"
        content="{{post.title|e}} | Filed under
        {{ post.tags|join(', ')|e}}." />
    <meta property="og:url" content="http://{{config.host}}{{path}}">
{% endblock %}


{% block body %}
  {# Floating subscribe icon. #}
  <div id="subscribe">
    <h3>Subscribe...</h3>
    <a href="http://feeds.feedburner.com/thegrandlocus"><img id="rssicon" src="/static/images/rss.png" /></a>
    <a href="http://feedburner.google.com/fb/a/mailverify?uri=thegrandlocus"><img id="mailicon" src="/static/images/redmail.png" /></a>
  </div>

  <p id="hard_parts_info"></p>
  <br />
  <h2 id="post_title">{{post.title|e}}
{% for i in range(post.difficulty) %}<img src="/static/images/chili.png" style="vertical-align:middle;">{% endfor %}
  </h2>

  <p class="post-info">

  <span itemscope itemtype="http://data-vocabulary.org/Person">
  By <a class="url fn n grey_link"
  href="https://plus.google.com/102441667247494916086?rel=author"><span
  itemprop="name">Guillaume Filion</span></a></span>, filed under 
  {% for tag in post.tag_pairs %}{{
      macros.filed_under(tag, config.url_prefix)
  }}{% if not loop.last %},
  {% else %}.{% endif %}{% endfor %}
  <br/ >
  <br/ >
  <span class="date">&#8226; {{post.published_tz.strftime(config.date_format)}} &#8226;</span>

  </p>

  <span class="post-format">{{post.rendered|safe}}</span>
  <br />

  {# Previous/Next #}
  <p id="prev_next">
  {% if prev %}
    &laquo; <a id="prev" href="{{config.url_prefix}}{{prev.path}}">Previous Post</a>
  {% endif %}
  {% if prev and next %} | {% endif %}
  {% if next %}
    <a id="next" href="{{config.url_prefix}}{{next.path}}">Next Post</a> &raquo;
  {% endif %}
  </p>

  <br />
  <br />

  {# Social networks widgets. #}
  <div id="plusone"><div class="g-plusone" data-size="medium"></div></div>
  <div id="tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="horizontal">Tweet</a></div>
  <div id="like"><div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div></div>

  {# Social networks scripts. #}
  <!-- Google +1 button -->
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  <!-- Facebook Like button -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=208248152549741";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Tweet button -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  {# End social networks. #}


  <br />
  <br />

  {% if config.disqus_forum %}
    <div id="disqus_thread"></div>
    {% if devel %}
      <script type="text/javascript">
        disqus_developer = 1;
      </script>
    {% endif %}
    <script type="text/javascript" src="http://disqus.com/forums/{{config.disqus_forum}}/embed.js"></script>
    <noscript><a href="http://disqus.com/forums/{{config.disqus_forum}}/?url=ref">View the discussion thread.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}

{% endblock %}

{% block copyright %}
<div style="float:right; clear:both; font-size:small;">Content &copy; 2014 <a rel="author" href="https://plus.google.com/102441667247494916086">Guillaume Filion</a>. All Rights Reserved blah blah.</div>
{% endblock %}
