{% extends "base.html" %}
{% import "jinjamacros.html" as macros %}

{% block title %}{{post.title|e}} | The Grand Locus{% endblock %}

{% block description %}
    <meta name="description"
        content="{{post.title|e}} | Filed under
        {{ post.tags|join(', ')|e}}." />
    <meta property="og:url" content="http://{{config.host}}{{path}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{post.title|e}}">
    <meta property="og:description" content="{{post.title|e}} | Filed under
        {{ post.tags|join(', ')|e}}.">
    <meta property="fb:app_id" content="208248152549741" />
{% endblock %}


{% block body %}

{% block subscribe %}{% endblock %}

  <h2 id="post_title">{{post.title|e}}
{% for i in range(post.difficulty) %}<img src="/static/images/chili.png" style="vertical-align:middle;" title="Post difficulty" />{% endfor %}
  </h2>

  <p class="post-info">

  <span itemscope itemtype="http://data-vocabulary.org/Person">
  By <a class="url fn n grey_link"
  href="https://plus.google.com/102441667247494916086?rel=author"><span
  itemprop="name">Guillaume Filion</span></a></span>, filed under 
  {% for tag in post.tag_pairs %}{{
      macros.filed_under(tag, config.url_prefix)
  }}{% if not loop.last %},
  {% else %}.{% endif %}{% endfor %}
  <br/ >
  <br/ >
  <span class="date">&#8226; {{post.published_tz.strftime(config.date_format)}} &#8226;</span>

  </p>

  <span class="post-format">{{post.rendered|safe}}</span>
  <br />

  {% block reader_panel %}{% endblock %}

{% endblock %}

{% block copyright %}
<div id="copyright">Content &copy; 2017 <a rel="author" href="https://plus.google.com/102441667247494916086">Guillaume Filion</a>. All rights reserved blah blah.</div>
{% endblock %}
